# Directories
backups/*
data/*
misc/*
parser/*
logs/*

.idea/*
.sass-cache/*

tests/misc
tests/misc/*

# File types

*.sql
*.crfsuite
*.xml
*.iml
*.name
*.pyc
*.pdf
*.DS_Store
*.log
*.cfg
*.secret

fabfile.py
