.idea/
.sass_cache/
.tox/
backups/
data/attachments/
data/purchase-orders/
data/vendors/

.coverage
.dockerignore
Dockerfile

*.crfsuite
*.xml
*.iml
*.name
*.pyc
*.pdf
*.DS_Store
*.log
*.cfg
*.secret
