* * * * * cd /home/ubuntu/contracts && git fetch origin master && git reset --hard FETCH_HEAD

0 10 * * * /home/ubuntu/contracts/main.sh  # Check for new contracts and ensure everything is in sync
0 12 * * * /home/ubuntu/contracts/main.sh  # Check for new contracts and ensure everything is in sync
0 14 * * * /home/ubuntu/contracts/main.sh  # Check for new contracts and ensure everything is in sync
0 16 * * * /home/ubuntu/contracts/main.sh  # Check for new contracts and ensure everything is in sync
0 18 * * * /home/ubuntu/contracts/main.sh  # Check for new contracts and ensure everything is in sync

0 6 * * * /home/ubuntu/contracts/email.sh  # Find connections and send email

0 4 * * * /home/ubuntu/contracts/backup.sh  # Creates local and remote backups

*/5 * * * * /home/ubuntu/contracts/sync_with_document_cloud.sh # Syncs DocumentCloud project with local database
