0 * * * * cd /home/ubuntu/contracts && git fetch origin master && git reset --hard FETCH_HEAD

0 4 * * * /home/ubuntu/contracts/scripts/archive.sh  # Creates backups

0 10 * * * /home/ubuntu/contracts/scripts/scrape.sh  # Check for new contracts
0 12 * * * /home/ubuntu/contracts/scripts/scrape.sh  # and update app.
0 14 * * * /home/ubuntu/contracts/scripts/scrape.sh
0 16 * * * /home/ubuntu/contracts/scripts/scrape.sh
0 18 * * * /home/ubuntu/contracts/scripts/scrape.sh
