include requirements.txt
include README.md
include scripts/main.sh
include scripts/sync_with_document_cloud.sh
include scripts/updatebackup.sh
include contracts/*
include contracts/lib/*
include parser/*
include tests/*
