
div#buttons {
min-height: 80px;
}

.container{
max-width: 1170px;
margin-left: auto;
margin-right: auto;
}

.DV-container {
height: 400px;
}

select {
	font-family: "news-gothic-std", Helvetica, Arial, sans-serif !important;
	background-color: white !important;
}

input#textbox{
	font-size: 14px;
}

#panel,#flip
{
text-align:center;
background-color:white;
}

.nomargin{
	margin:0px !important;
}

input[type="text"]{
width: 85%!important;
border: 1px solid #aaa !important;
border-radius: 0px;
}

div#open_button:hover {
background-color: whitesmoke;
color: black;
}

.contract-description .selected{
border-bottom: 0px solid grey;
}

div#download_button:hover {
background-color: whitesmoke;
color: black;
}

.subduedbutton{
	color: black;
	border: 1px solid #B43018 !important;
	background-color: white;
}

#search_button{
	margin-bottom: 0px;
}

.subduedbutton:hover { 
    background-color: white;
}

#back_arrow
{
	height: 7%;
	font-family:sans-serif;
}

#contract_viewer
{
	height: 93%;
}

body {
font-family: "news-gothic-std", Helvetica, Arial, sans-serif !important;
}


i.fa.fa-arrow-left {
	float: left;
	padding-top: .7%;
}

body{
	height: 100%;
}


div#officers {
border: 1px solid grey;
font-size: 14px;
color: #191919;
}

.page {
color: black;
font-style: normal;
display: inline-block;
padding-top: 3px;
padding: 3px;
font-size: 1.2em;
cursor: pointer;
}

.advanced_search{
	display:none;
}

#panel
{
display:none;
}

.paddedrow{
	margin-bottom: 1.5em;
	margin-top: 1.5em;
}

.minortext{
	color:#B43018;
	font-family: sans-serif !important;
	padding-top: 3px;
}

input[type="input"]:active
{
	border: 1px solid #5897fb;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.footnote{
	padding: 4px;
}

#pagination{
	height: 20px;
	font-size: .9em;
}

div#position_chosen {
text-transform: uppercase;
}

div.display{
	height: 100%;
}

.tablerow {
border-bottom: 1px solid gray;
padding-top: 7px;
padding-bottom: 7px;
}
.contract-date {
font-size: .8em;
}

.full{
	height:100%;
}

.selected{
  background-color:whitesmoke;
  color:#902613;
}


.selected-viewer{
  border:1.5px solid #B43018;
  font-weight:bold;
}

.row{
  min-height:60px;
}

div#nav_context {
margin-bottom: 15px;
}

div.detailsrow {
font-size: .8em;
}

.namerow{
font-weight: bold;
}

.header{
font-weight: bold;
}

div#department_chosen {
width: 100% !important;
}

input{
text-transform: uppercase; 
}

div#ui_components {
	float: right;
}

input[type="search"]{
border: 1px solid #aaa!important;
}

::-webkit-input-placeholder {
   color: rgba(0, 0, 0, 0.75);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(0, 0, 0, 0.75);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0, 0, 0, 0.75);
}

:-ms-input-placeholder {  
   color: rgba(0, 0, 0, 0.75);
}

.nav_context{
	padding: 5px;
}

div#position_chosen {
width: 100% !important;
}

input#textbox {
width: 100% !important;
border-radius: 0px;
min-height: 40px;
}

.cropped{
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}

a#supportButton {
background-color: #B43018;
float: left;
}

.contractpreview{
	cursor: pointer;
	border-bottom: 1px solid gray;
}

.contract-date{
	cursor: pointer;
}

.contract-title{
	cursor: pointer;
}

input[type="text"]{
border: 1px solid #aaa !important;
height: 100%;
}

.chosen-container-multi .chosen-choices li.search-field {
width: 100%;
}
div {
font-family: inherit !important; 
}

div#position{
width: 100% !important;
}

ul.chosen-choices {
min-height: 36px;
}

input.default {
min-height: 36px;
}

input[type="text"] {
width: 100% !important;
height: 100% !important;
}

.chosen-container{
	width: 100% !important;
}

.lensinput{
/* all */
-webkit-input-placeholder { color:#f00; }
-moz-placeholder { color:#f00; } /* firefox 19+ */
-ms-input-placeholder { color:#f00; } /* ie */
input:-moz-placeholder { color:#f00; }
}


.docembed{
	width: 100% !important;
}

.contract-container{ 
	cursor: pointer; 
}

.DC-search-embed .DC-title {
text-align: left !important;
}

.DV-docViewer{
	padding-left:0px !important;
}

#search_query
{
vertical-align:middle;
height:30px;
font-family: Arial;
margin-top:5px;
font-size: 13px;
font-weight:bold;
text-align:left;
padding-left: 20px;
}

#master-display
{
 /*height:85%; */
}

.DC-search-embed.DC-skinny-width .DC-paginator .DC-paginator-enumeration {
font-size: 9px !important;
}

.DC-search-embed .DC-quiet-link {
font-size: 9px !important;
}

#searchresults-container
{
float:left;
height: 100%;
width: 23% !important;
padding-right:1%;
overflow-y: auto;
position: absolute;
}

.contract
{
font-family: Arial
}

select {
	border: 1px solid #bbb;
	width: 100% !important;
	height: 40px !important;
}

.contract-title
{
font-size:13px;
}

.DC-search-embed .DC-document-list {
	overflow-y: auto !important;
}

.DC-search-embed .DC-paginator{
	font-size: 8px;
}

.dummy {
border: 0px solid white;
background-color: white;
}

.contract-description
{
font-size:12px;
color:#191919;
cursor: pointer;
padding-left: 15px;
}

.contract-date.contract {
color:#191919;
padding-left: 15px;
}

.contract-title
{
font-size:12px;
font-weight:bold;
}

.DC-document-title{
	font-size: 12px !important;
	width: 100% !important;
}

.DC-document-tile{
	width: 100% !important;
}

.mention-page{
	padding-left:5px;
	font-size:11px;
	font-weight:bold;
	display:inline-block;
}

.mention-text{
	padding-left:20px;
	font-size:11px;
	font-style:italic;
	display:inline-block;
}
b{
	background-color: #FFFF00;
}

li { /* styles all li elements*/
    list-style-type: none;
}

html, body {
    height:100%;
    position:relative;
}

.row.advancedsearch {
display: none;
}

.contract-container{
	border-bottom:thin solid #D3D3D3;
}

.mention-text{
	color: #333333;
}

.page{
	color: black;
	font-style:normal;
	text-decoration:underline;
	display:inline-block;
}

.hide{
	visibility: hidden;
}