#banner {
	z-index: 9999;
	position: fixed;
	width: 100%;
	height: 40px;
	overflow: hidden;
	border-bottom: 3px solid #B33125;
	background: #FFFFFF;
	box-shadow: 0 0 0.9px 1px rgba(0,0,0,.8);
	top: 0;
}
#banner-logo {
	float: left;
	margin: 5px 10px 0px;
}
#banner-title {
	float: left;
	margin: 5px 10px 0px;
	font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
	font-size: 18px;
}
#banner-social {
	float: right;
    font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
}
#banner-social-email, #banner-social-twitter, #banner-social-facebook, #banner-support {
	float: right;
	font-size: 26px;
	margin: 5px 15px 0px 0px;
}
#banner-support {
	font-size: 14px;
	line-height: 1.1em;
	margin: 5px 15px 0 0;
	text-align: center;
}
#banner a, #banner-social a, #banner-title a, #banner-logo a, #banner-social-twitter a, #banner-social-facebook a, #banner-social-email {
	text-decoration: none;
	font-weight: normal;
	color: #5A5A54;
}
#banner-logo:hover, #banner-social-twitter:hover, #banner-social-facebook:hover, #banner-social-email:hover, #banner-title:hover, #banner-support:hover {
	opacity: 0.7;
}