a,
a:focus,
a:active,
a:visited {
  color: #222;
  // text-decoration: none;
  text-decoration: underline;
}
a:hover,
a:visited:hover {
  text-decoration: underline;
  color: #7A7A7A; // black
}

// Alignment
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

@font-face {
    font-family: 'StateFaceRegular';
    src: url('../fonts/webfont/stateface-regular-webfont.eot');
    src: url('../fonts/webfont/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/webfont/stateface-regular-webfont.woff') format('woff'),
      url('../fonts/webfont/stateface-regular-webfont.ttf') format('truetype'),
      url('../fonts/webfont/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
