{% extends "lens_layout.html" %}

{% block url %}
{{url}}
{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/lensnola/contracts/contracts.css" media="screen" charset="utf-8">
<link rel="stylesheet" href='https://s3-us-west-2.amazonaws.com/lensnola/lensfoundationoverides.css'media="screen" charset="utf-8">
	<div class="p402_premium">
	</div>
	<div id="{{doc_cloud_id}}" class="selected"></div>
	<div id="buttons" class="large-12 large-centered medium-12 medium-centered small-12 small-centered columns">
			<div class="left">
				<a href="http://vault.thelensnola.org/contracts">
					<div id="back_arrow">
						<i class="fa fa-arrow-left left"></i>
						<div class="left">Back to search</div>
					</div>
				</a>
			</div>
			<div class="button-group large-3 medium-3 small-3 columns right large-centered medium-centered small-centered">
				<div id="{{doc_cloud_id}}" class="contractpreview dummy">
					<div class="button search_button medium right download_button">Download</div>
				</div>
			</div>
	</div>
	<div id="contract_viewer" class="large-12 large-centered medium-12 medium-centered small-12 small-centered columns">
		<div id="DV-viewer-{{doc_cloud_id}}" class="DV-container"></div>
	</div>

<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/lensnola/contracts/contracts.js"></script>
<script src="//s3.amazonaws.com/s3.documentcloud.org/viewer/loader.js"></script>
<script>
DV.load("//www.documentcloud.org/documents/{{doc_cloud_id}}.js", {
	sidebar: false,
	text: false,
	pdf: false,
	container: "#DV-viewer-{{doc_cloud_id}}"
});
</script>
{% endblock %}
</div>