	{% if docs %}
	<div class="row">
		<div id="results_status" class="large-8 medium-8 small-8 columns large-centered medium-centered small-centered">
			{{status}} </div>
	{% else %}
		<div id="results_status" class="large-8 medium-8 small-8 columns large-centered medium-centered small-centered">
			No results found </div>
	</div>
	{% endif %}
	{% if officers %}
	<div class="row">
		<div id="officers" class="officers large-8 medium-8 small-8 columns large-centered medium-centered small-centered">
		<div class="header">VENDOR:</div>
		<div>{{vendor}}</div>
		<br>
		<div class="header">OFFICERS:</div>
		{% for o in officers %}
		<div>
			{{o}}
		</div>
		{% endfor %}
		</div>
	</div>
	{% endif %}
    <div class="row">
      <div class="large-9 medium-9 small-9 columns large-centered medium-centered small-centered">
        <div id="doclist">
        	{% if docs %}
	            {% for doc in docs %}
	              <div id="{{doc.id}}" class="row contractpreview">
	                <div class="left large-7 medium-7 small-12 columns">
	                  <div class="contract-title contract">{{ doc.title }}</div>
	                  <div class="contract-description contract">{{ doc.description }}</div>
	                  <div class="contract-date contract">{{ doc.dateadded }}</div>
	                </div>
	                 <div class="button-group large-4 medium-4 small-12 columns right">
	                      <ul>
	                        <li class="button tiny cropped subduedbutton open_button">Open</li>
	                        <li class="button tiny cropped subduedbutton download_button">Download</li>
	                      </ul>
	                 </div>
	              </div>
	            {% endfor %}
	        {% endif %}
         </div>
       </div>
    </div>
    {% if docs %}
	<div class="row">
		<div id="nav_context" class="large-2 medium-2 small-2 columns large-centered medium-centered small-centered">
			<div>Page {{page}} of {{pages}}</div>
			<div id="pagination" data-offset="{{offset}}" data-total="{{totaldocs}}" data-pages="{{pages}}" data-query="{{query}}">
			<span id="previous" class="page">Back</span>
			<span id="next" class="page">More</span>
			</div>
		</div>
	</div>
				<div class="row">
					<div class="large-8 medium-8 small-8 columns large-centered medium-centered small-centered">
						<div class="left large-5 medium-5 small-5">
							<div>Source: <a href="http://www.purchasing.cityofno.com/bso/external/advsearch/advancedSearch.sdo" class="lenstext">City of New Orleans</a></div>
							<div>Last updated: {{updated}}</div>
						</div>
						<div class="right large-5 medium-5 small-5">
							<div class="right nomargin">Produced by <a href="https://twitter.com/AbeHandler" class="lenstext">Abe Handler</a></div>
							<div class="right nomargin">Read more about <a href="http://thelensnola.org/search-new-orleans-government-contracts/" class="lenstext">this project</a></div>
							<div class="right nomargin">Learn how to <a href="http://thelensnola.org/2014/05/29/how-to-read-a-government-contract/" class="lenstext">read a contract</a></div>
						</div>
					</div>
					<div class="large-12 medium-12 small-12 columns centered">
						<a href="http://www.thelensnola.org/thevault"><img src='https://s3-us-west-2.amazonaws.com/lensnola/rsz_2vault.png'></img></a>
					</div>
				</div>
	</div>
	{% endif %}