<!DOCTYPE html>
<html>
  <head>

    {% include '_head.html' %}

  </head>
  <body>

    {% include '_banner.html' %}

    <div class="row">
			<div class="small-6 columns">
        <a href="/contracts"><i class="fa fa-arrow-left"></i> Back to search</a>
			</div>
			<div class="small-6 text-right columns">
				<a class="download" id="download" href="/contracts/download/{{ doc_cloud_id }}">
          Download
        </a>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
  		  <div class="DV-container" id="DV-container"></div>
      </div>
    </div>

    {% include '_footer.html' %}

    {% include '_js.html' %}

    <script src="https://s3.amazonaws.com/s3.documentcloud.org/viewer/loader.js" type="text/javascript" charset="utf-8"></script>
    <script>
      console.log('{{ doc_cloud_id }}');
      DV.load("https://www.documentcloud.org/documents/{{ doc_cloud_id }}.json", {
        sidebar: false,
        text: true,
        pdf: true,
        container: "#DV-container"
      });
    </script>
    <script type="text/javascript" src={{ contracts_js }}></script>
  </body>
</html>