<!DOCTYPE html>
<html>
  <head>

    {% include 'head.html' %}

  </head>
  <body>

    {% include 'banner.html' %}

    <div class="row">
			<div class="small-4 columns">
        <a href="/contracts"><i class="fa fa-arrow-left"></i> Back to search</a>
			</div>
			<div class="small-8 columns">
				<button class="button small right search-button download-button" id="search-button download-button">
          Download
        </button>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
  		  <div class="DV-viewer" id="DV-viewer"></div>
      </div>
    </div>

    {% include 'footer.html' %}

    {% include 'js.html' %}

    <script src="//s3.amazonaws.com/s3.documentcloud.org/viewer/loader.js"></script>
    <script>
      DV.load("//www.documentcloud.org/documents/{{ doc_cloud_id }}.js", {
        sidebar: false,
        text: true,
        pdf: true,
        container: "#DV-viewer"
      });
    </script>
    <script type="text/javascript" src={{ lens_js }}></script>
    <script type="text/javascript" src={{ contracts_js }}></script>
  </body>
</html>