<div class="row">
  <div class="row">
    <div class="large-8 medium-8 small-8 columns large-centered medium-centered small-centered">
      <div class="left large-5 medium-5 small-12">
        <div>Source: <a href="http://www.purchasing.cityofno.com/bso/external/advsearch/advancedSearch.sdo" class="lenstext">City of New Orleans</a></div>
        <div>Last updated: {{updated}}</div>
      </div>
      <div class="right large-5 medium-5 small-12">
        <div id="produced_by" class="right nomargin">Produced by <a href="https://twitter.com/AbeHandler" class="lenstext">Abe Handler </a></div>
        <div id="read_more" class="right nomargin">Read more about <a href="http://thelensnola.org/search-new-orleans-government-contracts/" class="lenstext">this project</a></div>
        <div id="learn_how" class="right nomargin">Learn how to <a href="http://thelensnola.org/2014/05/29/how-to-read-a-government-contract/" class="lenstext">read a contract</a></div>
      </div>
    </div>
    <div class="large-12 medium-12 small-12 columns centered">
      <a href="http://www.thelensnola.org/thevault"><img src='https://s3-us-west-2.amazonaws.com/lensnola/rsz_2vault.png'></img></a>
    </div>
  </div>
</div>