<div class="row">
  <div class="small-8 small-centered columns">
    <div class="row">
      <div class="small-12 medium-5 left columns">
        <div>
          Source: <a href="http://www.purchasing.cityofno.com/bso/external/advsearch/advancedSearch.sdo" class="lenstext">City of New Orleans</a>
        </div>
        <div>
          Last updated: {{ updated }}
        </div>
      </div>
      <div class="small-12 medium-5 right columns">
        <div id="produced-by" class="right nomargin">
          Produced by <a href="https://twitter.com/AbeHandler" class="lenstext">Abe Handler </a>
        </div>
        <div id="read-more" class="right nomargin">
          Read more about <a href="http://thelensnola.org/search-new-orleans-government-contracts/" class="lens-text">this project</a>
        </div>
        <div id="learn-how" class="right nomargin">
          Learn how to <a href="http://thelensnola.org/2014/05/29/how-to-read-a-government-contract/" class="lens-text">read a contract</a>
        </div>
      </div>
    </div>
  </div>
  <div class="small-12 text-center columns">
    <a href="http://www.thelensnola.org/thevault"><img src='https://s3-us-west-2.amazonaws.com/lensnola/rsz_2vault.png'></img></a>
  </div>
</div>