<div class="row">
  <div class="small-12 small-centered attribution columns" id="attribution">
    <div class="row">
      <div class="small-6 columns">
        <div class="row">
          <div class="small-12 columns">
            Source: <a href="http://www.purchasing.cityofno.com/bso/external/advsearch/advancedSearch.sdo" target="_blank">City of New Orleans.</a>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            Last updated {{ updated_date }}.
          </div>
        </div>
      </div>
      <div class="small-6 right columns">
        <div class="row">
          <div class="small-12 right columns">
            <div class="produced-by right" id="produced-by">
              Produced by Abe Handler and Thomas Thoren.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 right columns">
            <div class="read-more right" id="read-more">
              Read more about <a href="http://thelensnola.org/search-new-orleans-government-contracts/" target="_blank">this project.</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 right columns">
            <div class="learn-how right" id="learn-how">
              Learn how to <a href="http://thelensnola.org/2014/05/29/how-to-read-a-government-contract/" target="_blank">read a contract.</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 text-center columns">
    <a href="http://www.thelensnola.org/thevault"><img src='https://s3-us-west-2.amazonaws.com/lensnola/rsz_2vault.png'></img></a>
  </div>
</div>