<!DOCTYPE html>
<html>
  <head>

    {% include 'head.html' %}
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>


  </head>
  <body>

    {% include 'banner.html' %}

    <div id="profiles"></div>

    <script id="profileTemplate" type="text/template">
      <li data-category=<%-name %> id="<%- cid %>" class="category button tiny"><span><%-name %></span></li>
    </script>


    <div class="row">
      <div class="small-7 centered columns">
        <a id="xmlify" class="button">Finished</a>
      </div>
    </div>

    <div class="row" id="holder">
      <div id="doc_cloud_id" data-docid="{{doc_cloud_id}}">
        <div class="centered columns large-6">
          {{doc_cloud_id}}
        </div>
      </div>
      <div class="small-10 columns">
          <div id="DV-container" class="DV-container"></div>
          <script src="//s3.amazonaws.com/s3.documentcloud.org/viewer/loader.js"></script>
      </div>
      <div id='right' class="large-2 columns">
        <ul id='categories' class="stack button-group"></ul>
      </div>
    </div>

    {% include 'js.html' %}
    <script type="text/javascript" src={{ parserator_js }}></script>

    <script>
         DV.load("//www.documentcloud.org/documents/{{doc_cloud_id}}.js", {
          sidebar: false,
          pdf: false,
          // width: $("body").width(),
          // height: $("body").height(),
          container: "#DV-container",
          afterLoad: viewer_has_loaded 
        });
    </script>
  </body>
</html>