<div class="row">
  <div class="small-12 small-centered columns">
    <div class="row collapse">
      <label>Search contracts</label>
      <div class="small-12 columns slim input-div" id="input-div">
        <input class="text-box" id="text-box" type="text" placeholder="e.g. Uniforms, Dillard University, Mitch Landrieu, Three-Fold Consultants" />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 small-centered text-right columns advanced-search" id="advanced-search">
    Show advanced search <i class="fa fa-caret-down"></i>
  </div>
</div>
<div class="filters" id="filters">
  <div class="row">
    <div class="small-10 small-centered columns">
      <div class="row">
        <div class="small-4 center columns">
          <select id="vendors">
            <option selected value="">Select vendor</option>
            {% for vendor in vendors %}
            	<option value="{{ vendor }}">{{ vendor }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="small-4 columns">
          <select id="departments">
            <option selected value="">Select department</option>
            {% for department in departments %}
            	<option value="{{ department }}">{{ department }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="small-4 columns">
          <select id="officers">
            <option selected value="">Select company officer</option>
            {% for officer in officers %}
            	<option value="{{ officer }}">{{ officer }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>
</div> 
<div class="row">
  <div class="small-12 text-center columns">
    <button class="small button search-button" id="search-button">
      Search
    </button> 
  </div>
</div>