<!DOCTYPE html>
<html>
  <head>

    {% include '_head.html' %}

  </head>
  <body>

    {% include '_banner.html' %}

    <div class="row hide-for-small-only">
      <div class="small-6 medium-12 small-centered columns">
        <h1 class="text-center">New Orleans city contracts</h1>
      </div>
    </div>

    {% include '_search-area.html' %}

    {% include '_table.html' %}

    {% include '_footer.html' %}

    {% include '_js.html' %}

    <script type="text/javascript">
      if ({{ parameter_data|tojson }} !== 'None') {
        //console.log('parameters');
        //Populate search parameters
        populateSearchParameters({{ parameter_data|tojson }})
      }
    </script>
  </body>
</html>