<div class="row">
  <div id="results-status" class="small-10 small-centered slim columns">
  </div>
</div>
<div class="row">
  <div class="small-12 small-centered columns">
    <div id="doclist">
      {% for document in documents %}
        <div id="{{ document.id }}" class="row contract-preview">
          <div class="small-12 medium-7 left columns">
            <div class="contract-title">
              {{ document.title }}
            </div>
            <div class="contract-description">
              {{ document.description }}
            </div>
            <div class="contract-date">
              {{ document.dateadded }}
            </div>
          </div>
          <div class="small-12 medium-5 text-right button-group columns">
            <button class="button tiny open-button" id="open-button">
              Open
            </button>
            <br>
            <a class="download" id="download">
              Download
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="row">
  <div class="small-6 small-centered text-center pagination columns" id="pagination" data-current-page="{{ current_page }}" data-number-of-documents="{{ number_of_documents }}" data-number-of-pages="{{ number_of_pages }}">
    <span class="page-change left" id="previous"><i class="fa fa-arrow-left"></i> Previous</span>
    <span class="page center" id="pages">Page {{ current_page }} of {{ number_of_pages }}</span>
    <span class="page-change right" id="next">Next <i class="fa fa-arrow-right"></i></span>
  </div>
</div>