<div class="row">
  <div id="results-status" class="small-12 slim results-status columns">
    {{ results_language }}
  </div>
</div>
<div class="row">
  <div class="small-12 doc-list columns" id="doc-list">
    {% for document in documents %}
      <div class="contract-row-wrapper">
        <div class="row contract-row" id="{{ document.id }}">
          <div class="small-12 medium-9 columns">
            <div class="contract-title">
              {{ document.title }}
            </div>
            <div class="contract-description">
              {{ document.description }}
            </div>
            <div class="contract-date">
              {{ document.dateadded }}
            </div>
          </div>
          <div class="small-12 small-centered small-text-center medium-3 medium-uncentered medium-text-right columns">
            <a href="/contracts/contract/{{ document.id }}" class="no-underline">
              <button class="white-button tiny open-button" id="open-button">
                Open
              </button>
            </a>
            <br>
            <a class="download" id="download" href="/contracts/download/{{ document.id }}">Download</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="small-12 small-centered text-center pagination columns" id="pagination" data-current-page="{{ current_page }}" data-number-of-documents="{{ number_of_documents }}" data-number-of-pages="{{ number_of_pages }}">
    <span class="page-change previous left" id="previous"><i class="fa fa-arrow-left"></i> Previous</span>
    <span class="page center" id="pages">Page {{ current_page }} of {{ number_of_pages }}</span>
    <span class="page-change next right" id="next">Next <i class="fa fa-arrow-right"></i></span>
  </div>
</div>